* {
  margin: 0;
  padding: 0;
}

.navigationMenu {
  background-color: #d69ade;
  color: #640d5f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.navigationMenu h1 {
  font-size: 32px;
  text-decoration: underline;
}

body {
  background-color: #e4b1f0;
  color: #640d5f;
}

.footerText {
  background-color: #d69ade;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
  padding: 10px;
  font-size: 32px;
}
.footerText h2 {
  color: #640d5f;
}

.userCard {
  border: 1px solid #640d5f;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
}

#users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #users {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  #users {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  #users {
    grid-template-columns: 1fr;
  }
}

#toggleInformation {
  background-color: rgb(163, 21, 163);
  color: #640d5f;
}
