* {
  margin: 0;
  padding: 0;
}

.navigationMenu {
  background-color: #d69ade;
  color: #640d5f;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

body {
  background-color: #e4b1f0;
  color: #640d5f;
}

.footerText h2 {
  background-color: #d69ade;
  color: #640d5f;
}

.userCard {
  border: 1px solid #640d5f;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  padding: 50px;
}
